<mat-sidenav-container class="app-container">
  <mat-sidenav class="app-sidebar" mode="side" opened [fixedInViewport]="true">
    <div class="sidebar-header">
      <div class="sidebar-logo">
        <img class="sidebar-logo__img" src="/plenario-logo.png" alt="" />
        <div class="sidebar-logo__text">
          <span class="sidebar-logo__name">Plenario</span>
          <span class="sidebar-logo__tagline">Personal planner</span>
        </div>
      </div>
    </div>

    <mat-nav-list class="sidebar-nav">
      @for (item of navItems; track item.route) {
        <a
          mat-list-item
          [routerLink]="item.route"
          routerLinkActive
          #link="routerLinkActive"
          [activated]="link.isActive"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="app-content">
    <main class="content-main">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
